   .stickyy {
   
            background-color: white;
            position: sticky;
            top: 0;
            text-align: flex-end;
            padding: 50px; 
          }
        
      
      